:root {
	--hot-toddy: rgba(180, 133, 12, 1.0);
	--papaya-whip: rgba(252, 239, 212, 1.0);
	--teak: rgba(184, 156, 103, 1.0);
}

body {
	background-color: rgb(25, 9, 0); 
}

.container {
	top: 5%;
	position: absolute;

}

.game-board {
	background-color: rgba(94, 71, 51, 1.0);
	border: 14px solid rgba(54, 39, 39, 1.0);
	border-radius: 95px;
	height: calc(550px - 23vw);
	width: 90%;
	text-align: center;
}

.slot {
	background-color: var(--teak);
	border-radius: 30px;
	height: calc(180px - 2vw);
	display: inline-block;
	width: 150px;
	margin-right: 2.5%;
}

.slot:hover {
	transform: scale(1.1);
}

.slot:img {
	width: 100%;
	height: 10%;
}

.testar {
	background-color: transparent;
	height: 56px;
	left: 1144px;
	pointer-events: auto;
	position: absolute;
	top: 282px;
	transition: all 0.2s ease;
	width: 247px;
}

.testar:hover {
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.testButton {
	position: relative;
}